<table>
    <caption><%= title%></caption>
    <tr>
        <th>id</th>
    </tr>
    <% for(var i=0; i< employees.length; i++) { %>
        <tr>
            <td><%= employees[i].id %></td>
        </tr>
    <% }; %>
</table>
